{% extends 'base.html' %}


{% block extra_head %}
<style>
.form-list { padding: 2px; border: 1px solid gray; margin-bottom: 10px; }
.form-list td { padding: 4px; padding-bottom: 6px; border: 1px solid #bbbbbb; }
</style>
{% endblock %}

{% block breadcrumb %}
{{ block.super }}
{% if sport %}- <a href="/sport/sports/{{ sport.id }}">{{ sport }}</a>{% endif %}
{% if sport and year %}- <a href="/sport/sports/{{ sport.id }}/{{ year }}">{{ year }}</a>{% endif %}
{% if not sport and year %}- <a href="/sport/{{ year }}">{{ year }}</a>{% endif %}
{% if month %}- <a href="/sport/{{ year }}/{{ month }}">{{ month }}</a>{% endif %}
{% if week %}- Неделя <a href="/sport/{{ year }}/w{{ week }}">{{ week }}</a>{% endif %}
{% endblock %}

{% block content %}

<h1>Соревнования</h1>
{% if request.path == "/sport/filter/" %}
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Показать" />
</form>
{% endif %}

{% if weeks and not sport %}
<b>Недели в этом месяце: </b>
{% for week in weeks %}
<a href="/sport/2017/w{{ week}}/">{{ week}}</a>&nbsp;
{% endfor %}
{% endif %}

{% if week == None and month == None %}
<p>Месяцы: 
{% for month in '0123456789ab'|make_list %}
{% if sport %}
    <a href="/sport/sports/{{ sport.id }}/{{ year }}/{% if forloop.counter < 10 %}0{% endif %}{{ forloop.counter }}">{{ forloop.counter }}</a>
{% else %}    
    <a href="/sport/{{ year }}/{% if forloop.counter < 10 %}0{% endif %}{{ forloop.counter }}">{{ forloop.counter }}</a>
{% endif %}
{% endfor %}
</p>
{% endif %}

<p style="margin-top: 20px;"> <b>Список соревнований{% if week %} - неделя {{week}}{% endif %}: </b></p>
<table class="form-list">
{% for tourney in tourney_list %}
<tr>
    <td style="width: 130px"><b>{{ tourney.date_start }}</b>{% if tourney.date_end and tourney.date_start != tourney.date_end %}<br/>- {{ tourney.date_end}}{% endif %}</td>
    <td><a href="/sport/detail/{{ tourney.id }}">{{ tourney }}</a></td>
</tr>
{% endfor %}
</table>


{% if request.user.username == 'uso' or request.user.username == 'admin' %}
<table>
<tr><td>Судейские</td><td>{{ judje_sum.judje_sum__sum }}</td></tr>
<tr><td>Наградная</td><td>{{ judje_sum.reward_sum__sum }}</td></tr>
<tr><td>Печатная</td><td>{{ judje_sum.print_sum__sum }}</td></tr>
<tr><td>Проезд</td><td>{{ judje_sum.proezd_sum__sum }}</td></tr>
<tr><td>Проживание</td><td>{{ judje_sum.projiv_sum__sum }}</td></tr>
<tr><td>Питание</td><td>{{ judje_sum.pitanie_sum__sum }}</td></tr>
<tr><td>Взнос</td><td>{{ judje_sum.vznos_sum__sum }}</td></tr>
<tr><td>Аренда</td><td>{{ judje_sum.arenda_sum__sum }}</td></tr>
<tr><td>Медики</td><td>{{ judje_sum.medic_sum__sum }}</td></tr>
<tr><td>Скорая</td><td>{{ judje_sum.ambulance_sum__sum }}</td></tr>
<tr><td>Транспорт</td><td>{{ judje_sum.transport_sum__sum }}</td></tr>
</table>
{% endif %}

{% if perms.sportapp.change_tourney %}
{% if sport and year %}<p> Управление: <a href="/sport/sports/{{ sport.id }}/{{ year }}/edit">Редактор</a></p>{% endif %}
{% if not sport and month %}<p> Управление: <a href="/sport/{{ year }}/{{ month }}/edit">Редактор</a></p>{% endif %}
{% if not sport and week %}<p>Управление: <a href="/sport/{{ year }}/w{{ week }}/edit">Редактор</a></p>{% endif %}
{% endif %}

{% if week %}<a href="/sport/2017/w{{ prev_week}}/">&lt;-- Предыдущая</a> ... <a href="/sport/2017/w{{ next_week}}/">Следующая --&gt;</a>{% endif %}

{% if month or week %}
<h3>Файл по форме</h3>
{% if custom_query %}
<p>Этот запрос выполнен с изменением дат и доступен только для просмотра.</p>
<p>В этой версии генерация отчета возможна только по выбранным месяцу и неделе.</p>
{% else %}
<ul>
<li><a href="?file=gov">для правительства</a></li>
<li><a href="?file=vfd">для медиков</li>
<li><a href="?file=min">для министерства</li>
<li><a href="?file=media">Медиаплан</li>
<li><a href="?file=plan">План</li>
</ul>
{% endif %}
{% endif %}

{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $(function() {
        $('#id_date_start').datepicker({ 
          dateFormat: 'dd.mm.yy',
          monthNames : ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
	  dayNamesMin : ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
        });
	$('#id_date_end').datepicker({ 
          dateFormat: 'dd.mm.yy',
          monthNames : ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
	  dayNamesMin : ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
        }); 
    });
        </script> 
{% endblock %}
