{% extends 'base.html' %}

{% block content %}

<form enctype="multipart/form-data" method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="read" value="Распознать" />
    <br />
    <table border="1">
      <tr>
         <th>n</th>
        <th>Мероприятие</th>
        <th>Дата старта</th>
        <th>Дата окончания</th>
      </tr>
      {% for data_val in data %}
      <tr><td>{{ forloop.counter }}</td><td>{{ data_val.eventName }} </td>
          <td>{{ data_val.eventStartDate }} </td>
          <td>{{ data_val.eventEndDate }} </td>
          <td>{{ data_val.eventSport }} </td>
          <td>{{ data_val.eventSportId }} </td>
      </tr>
      {% endfor %}
    </table>
    <br />
    {#<input type="submit" name="import" value="Импортировать выбранное" />#}
    <a id="id_import" href="#">Импорт выбранных</a>
</form>

{% endblock %}

{% block javascript %}

<script>

    $( document ).ready(function() {
        console.log( "ready!" );
    });
    $( document ).ready(function() {

var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

    $("#id_import").click(function(e) {
      var arrEventName = [];
      var dict = {};
      var datax = {{ json_data|safe }};
      str = JSON.stringify(datax);
      obj = JSON.parse(str);
      $.ajax({
        url: '/sport/importxl/',
        data: { sdata: str},
        dataType: 'json',
        method: 'POST',
        success: function (data) {
          if (data.is_taken) {
            alert(data);
          }
        }
      });
      e.preventDefault();
    });
    });
</script>

{% endblock %}
